workflow-inbound-live.json
[{"updatedAt": "2026-03-05T03:00:09.405Z", "createdAt": "2026-03-05T01:05:05.000Z", "id": "vFIvxqFZKZFGOUO7", "name": "Airbnb Inbound Message Handler \u2014 Nick Mora", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 1}]}}, "id": "poll-telegram", "name": "Poll Telegram Every Minute", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [220, 300]}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getUpdates", "authentication": "none", "sendBody": false, "options": {"timeout": 10000}}, "id": "get-updates", "name": "Get Telegram Updates", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 300]}, {"parameters": {"jsCode": "// Process Telegram updates and filter for relevant messages\nconst response = $input.first().json;\nconst updates = response.result || [];\n\nif (updates.length === 0) {\n  return [];\n}\n\n// Find the max update ID to acknowledge later\nconst maxUpdateId = Math.max(...updates.map(u => u.update_id));\n\n// Use env var for allowed chat ID, fall back to Joe's test ID\nconst allowedChatId = $env.NICK_CLEANER_TELEGRAM_CHAT_ID || 'PLACEHOLDER_CHAT_ID';\n\n// Process each update\nconst processed = [];\nfor (const update of updates) {\n  let from = '';\n  let chatId = '';\n  let text = '';\n  let updateId = update.update_id.toString();\n\n  if (update.callback_query) {\n    from = update.callback_query.from.id.toString();\n    chatId = update.callback_query.message.chat.id.toString();\n    text = update.callback_query.data || '';\n  } else if (update.message) {\n    from = update.message.from.id.toString();\n    chatId = update.message.chat.id.toString();\n    text = update.message.text || '';\n  }\n\n  // Only process messages from the allowed cleaner\n  if (chatId !== allowedChatId) {\n    continue;\n  }\n\n  // Classify the message\n  const lowerText = text.toLowerCase().trim();\n  let messageType = 'unknown';\n  let priority = 'normal';\n\n  const doneKeywords = ['done', 'finished', 'complete', 'completed', 'all done', 'cleaned', 'all good', 'all set', '\\u2705', 'done!'];\n  const issueKeywords = ['broken', 'damage', 'damaged', 'fix', 'repair', 'issue', 'problem', 'stain', 'missing', 'leak', 'mold', 'crack', 'hole', '\\ud83d\\udea8'];\n  const questionKeywords = ['?', 'where', 'when', 'what', 'how', 'which', 'can i', 'should i', 'do i', 'help'];\n\n  if (doneKeywords.some(kw => lowerText.includes(kw))) {\n    messageType = 'job_complete';\n  } else if (issueKeywords.some(kw => lowerText.includes(kw))) {\n    messageType = 'maintenance_issue';\n    priority = 'high';\n  } else if (questionKeywords.some(kw => lowerText.includes(kw))) {\n    messageType = 'question';\n  } else {\n    messageType = 'general';\n  }\n\n  processed.push({\n    from, chat_id: chatId, text, messageType, priority,\n    updateId, receivedAt: new Date().toISOString()\n  });\n}\n\n// Always return exactly 1 item with maxUpdateId for acknowledgment\n// Include processed messages as an array for later unpacking\nreturn [{ json: { maxUpdateId, messages: processed, hasMessages: processed.length > 0 } }];"}, "id": "process-updates", "name": "Process & Filter Updates", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300]}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getUpdates?offset={{ $json.maxUpdateId + 1 }}", "authentication": "none", "sendBody": false, "options": {"timeout": 5000}}, "id": "ack-updates", "name": "Acknowledge Updates", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 300]}, {"parameters": {"jsCode": "// Unpack messages from the single-item output\nconst data = $input.first().json;\nif (!data.hasMessages || !data.messages || data.messages.length === 0) {\n  return [];\n}\nreturn data.messages.map(m => ({ json: m }));"}, "id": "filter-ack-only", "name": "Unpack Messages", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 300]}, {"parameters": {"mode": "rules", "rules": {"values": [{"conditions": {"conditions": [{"leftValue": "={{ $json.messageType }}", "rightValue": "job_complete", "operator": {"type": "string", "operation": "equals"}}]}, "renameOutput": true, "outputKey": "Job Complete"}, {"conditions": {"conditions": [{"leftValue": "={{ $json.messageType }}", "rightValue": "maintenance_issue", "operator": {"type": "string", "operation": "equals"}}]}, "renameOutput": true, "outputKey": "Maintenance Issue"}, {"conditions": {"conditions": [{"leftValue": "={{ $json.messageType }}", "rightValue": "question", "operator": {"type": "string", "operation": "equals"}}]}, "renameOutput": true, "outputKey": "Question"}]}, "options": {"fallbackOutput": "extra"}}, "id": "route-message", "name": "Route by Type", "type": "n8n-nodes-base.switch", "typeVersion": 3.2, "position": [1260, 300]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $env.NICK_TRACKER_SHEET_ID || '16kftTiwJs6VmNVrdGag4L9vh7JAfCKMKeRbphlQGPnU' }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Job Log", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"from": "={{ $json.from }}", "message": "={{ $json.text }}", "type": "={{ $json.messageType }}", "status": "completed", "received_at": "={{ $json.receivedAt }}"}}, "options": {}}, "id": "log-complete", "name": "Log Job Complete", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [1480, 200], "onError": "continueRegularOutput", "disabled": true}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "authentication": "none", "sendBody": true, "contentType": "json", "bodyParameters": {"parameters": [{"name": "chat_id", "value": "={{ $env.NICK_TELEGRAM_CHAT_ID || 'PLACEHOLDER_CHAT_ID' }}"}, {"name": "text", "value": "\ud83d\udea8 *Maintenance Alert!* \\n\\nCleaner reported an issue:\\n{{ $json.text }}"}, {"name": "parse_mode", "value": "Markdown"}]}, "options": {}}, "id": "alert-nick", "name": "Alert Nick (Issue)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1480, 400]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $env.NICK_TRACKER_SHEET_ID || '16kftTiwJs6VmNVrdGag4L9vh7JAfCKMKeRbphlQGPnU' }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Job Log", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"from": "={{ $json.from }}", "message": "={{ $json.text }}", "type": "={{ $json.messageType }}", "status": "issue_reported", "received_at": "={{ $json.receivedAt }}"}}, "options": {}}, "id": "log-issue", "name": "Log Maintenance Issue", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [1480, 500], "onError": "continueRegularOutput", "disabled": true}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "authentication": "none", "sendBody": true, "contentType": "json", "bodyParameters": {"parameters": [{"name": "chat_id", "value": "={{ $env.NICK_TELEGRAM_CHAT_ID || 'PLACEHOLDER_CHAT_ID' }}"}, {"name": "text", "value": "\u2753 *Question from Cleaner*\\n\\n{{ $json.text }}\\n\\n_Replying here will send to the cleaner._"}, {"name": "parse_mode", "value": "Markdown"}]}, "options": {}}, "id": "forward-question", "name": "Forward Question to Nick", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1480, 600]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $env.NICK_TRACKER_SHEET_ID || '16kftTiwJs6VmNVrdGag4L9vh7JAfCKMKeRbphlQGPnU' }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Job Log", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"from": "={{ $json.from }}", "message": "={{ $json.text }}", "type": "={{ $json.messageType }}", "status": "question", "received_at": "={{ $json.receivedAt }}"}}, "options": {}}, "id": "log-question", "name": "Log Question", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [1480, 700], "onError": "continueRegularOutput", "disabled": true}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "authentication": "none", "sendBody": true, "contentType": "json", "bodyParameters": {"parameters": [{"name": "chat_id", "value": "={{ $json.chat_id }}"}, {"name": "text", "value": "Thanks for the update! Got it logged. \u2705"}]}, "options": {}}, "id": "acknowledge-general", "name": "Acknowledge General", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1480, 900]}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "authentication": "none", "sendBody": true, "contentType": "json", "bodyParameters": {"parameters": [{"name": "chat_id", "value": "={{ $json.chat_id }}"}, {"name": "text", "value": "Great! Job marked as complete. \u2705 Nick will be notified. Thanks!"}]}, "options": {}}, "id": "acknowledge-complete", "name": "Acknowledge Complete", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1480, 100]}], "connections": {"Poll Telegram Every Minute": {"main": [[{"node": "Get Telegram Updates", "type": "main", "index": 0}]]}, "Get Telegram Updates": {"main": [[{"node": "Process & Filter Updates", "type": "main", "index": 0}]]}, "Process & Filter Updates": {"main": [[{"node": "Acknowledge Updates", "type": "main", "index": 0}]]}, "Acknowledge Updates": {"main": [[{"node": "Unpack Messages", "type": "main", "index": 0}]]}, "Route by Type": {"main": [[{"node": "Log Job Complete", "type": "main", "index": 0}, {"node": "Acknowledge Complete", "type": "main", "index": 0}], [{"node": "Alert Nick (Issue)", "type": "main", "index": 0}, {"node": "Log Maintenance Issue", "type": "main", "index": 0}], [{"node": "Forward Question to Nick", "type": "main", "index": 0}, {"node": "Log Question", "type": "main", "index": 0}], [{"node": "Acknowledge General", "type": "main", "index": 0}]]}, "Unpack Messages": {"main": [[{"node": "Route by Type", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}, "staticData": {"node:Poll Telegram Every Minute": {"recurrenceRules": []}}, "meta": null, "pinData": null, "versionId": "18bb9c84-0020-41d6-8bd8-4f0339181954", "activeVersionId": "18bb9c84-0020-41d6-8bd8-4f0339181954", "versionCounter": 30, "triggerCount": 1, "shared": [{"updatedAt": "2026-03-04T22:40:26.741Z", "createdAt": "2026-03-04T22:40:26.741Z", "role": "workflow:owner", "workflowId": "vFIvxqFZKZFGOUO7", "projectId": "pfSNu0dof2sQh41W", "project": {"updatedAt": "2026-02-18T00:17:55.985Z", "createdAt": "2026-02-18T00:15:34.650Z", "id": "pfSNu0dof2sQh41W", "name": "Joe B <committer@example.com>", "type": "personal", "icon": null, "description": null, "creatorId": "b75796b6-dc2a-4a97-a727-2f1400120b80"}}], "tags": [], "activeVersion": {"updatedAt": "2026-03-05T03:00:09.406Z", "createdAt": "2026-03-05T03:00:09.406Z", "versionId": "18bb9c84-0020-41d6-8bd8-4f0339181954", "workflowId": "vFIvxqFZKZFGOUO7", "nodes": [{"parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 1}]}}, "id": "poll-telegram", "name": "Poll Telegram Every Minute", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [220, 300]}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getUpdates", "authentication": "none", "sendBody": false, "options": {"timeout": 10000}}, "id": "get-updates", "name": "Get Telegram Updates", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 300]}, {"parameters": {"jsCode": "// Process Telegram updates and filter for relevant messages\nconst response = $input.first().json;\nconst updates = response.result || [];\n\nif (updates.length === 0) {\n  return [];\n}\n\n// Find the max update ID to acknowledge later\nconst maxUpdateId = Math.max(...updates.map(u => u.update_id));\n\n// Use env var for allowed chat ID, fall back to Joe's test ID\nconst allowedChatId = $env.NICK_CLEANER_TELEGRAM_CHAT_ID || 'PLACEHOLDER_CHAT_ID';\n\n// Process each update\nconst processed = [];\nfor (const update of updates) {\n  let from = '';\n  let chatId = '';\n  let text = '';\n  let updateId = update.update_id.toString();\n\n  if (update.callback_query) {\n    from = update.callback_query.from.id.toString();\n    chatId = update.callback_query.message.chat.id.toString();\n    text = update.callback_query.data || '';\n  } else if (update.message) {\n    from = update.message.from.id.toString();\n    chatId = update.message.chat.id.toString();\n    text = update.message.text || '';\n  }\n\n  // Only process messages from the allowed cleaner\n  if (chatId !== allowedChatId) {\n    continue;\n  }\n\n  // Classify the message\n  const lowerText = text.toLowerCase().trim();\n  let messageType = 'unknown';\n  let priority = 'normal';\n\n  const doneKeywords = ['done', 'finished', 'complete', 'completed', 'all done', 'cleaned', 'all good', 'all set', '\\u2705', 'done!'];\n  const issueKeywords = ['broken', 'damage', 'damaged', 'fix', 'repair', 'issue', 'problem', 'stain', 'missing', 'leak', 'mold', 'crack', 'hole', '\\ud83d\\udea8'];\n  const questionKeywords = ['?', 'where', 'when', 'what', 'how', 'which', 'can i', 'should i', 'do i', 'help'];\n\n  if (doneKeywords.some(kw => lowerText.includes(kw))) {\n    messageType = 'job_complete';\n  } else if (issueKeywords.some(kw => lowerText.includes(kw))) {\n    messageType = 'maintenance_issue';\n    priority = 'high';\n  } else if (questionKeywords.some(kw => lowerText.includes(kw))) {\n    messageType = 'question';\n  } else {\n    messageType = 'general';\n  }\n\n  processed.push({\n    from, chat_id: chatId, text, messageType, priority,\n    updateId, receivedAt: new Date().toISOString()\n  });\n}\n\n// Always return exactly 1 item with maxUpdateId for acknowledgment\n// Include processed messages as an array for later unpacking\nreturn [{ json: { maxUpdateId, messages: processed, hasMessages: processed.length > 0 } }];"}, "id": "process-updates", "name": "Process & Filter Updates", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300]}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getUpdates?offset={{ $json.maxUpdateId + 1 }}", "authentication": "none", "sendBody": false, "options": {"timeout": 5000}}, "id": "ack-updates", "name": "Acknowledge Updates", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 300]}, {"parameters": {"jsCode": "// Unpack messages from the single-item output\nconst data = $input.first().json;\nif (!data.hasMessages || !data.messages || data.messages.length === 0) {\n  return [];\n}\nreturn data.messages.map(m => ({ json: m }));"}, "id": "filter-ack-only", "name": "Unpack Messages", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 300]}, {"parameters": {"mode": "rules", "rules": {"values": [{"conditions": {"conditions": [{"leftValue": "={{ $json.messageType }}", "rightValue": "job_complete", "operator": {"type": "string", "operation": "equals"}}]}, "renameOutput": true, "outputKey": "Job Complete"}, {"conditions": {"conditions": [{"leftValue": "={{ $json.messageType }}", "rightValue": "maintenance_issue", "operator": {"type": "string", "operation": "equals"}}]}, "renameOutput": true, "outputKey": "Maintenance Issue"}, {"conditions": {"conditions": [{"leftValue": "={{ $json.messageType }}", "rightValue": "question", "operator": {"type": "string", "operation": "equals"}}]}, "renameOutput": true, "outputKey": "Question"}]}, "options": {"fallbackOutput": "extra"}}, "id": "route-message", "name": "Route by Type", "type": "n8n-nodes-base.switch", "typeVersion": 3.2, "position": [1260, 300]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $env.NICK_TRACKER_SHEET_ID || '16kftTiwJs6VmNVrdGag4L9vh7JAfCKMKeRbphlQGPnU' }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Job Log", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"from": "={{ $json.from }}", "message": "={{ $json.text }}", "type": "={{ $json.messageType }}", "status": "completed", "received_at": "={{ $json.receivedAt }}"}}, "options": {}}, "id": "log-complete", "name": "Log Job Complete", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [1480, 200], "onError": "continueRegularOutput", "disabled": true}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "authentication": "none", "sendBody": true, "contentType": "json", "bodyParameters": {"parameters": [{"name": "chat_id", "value": "={{ $env.NICK_TELEGRAM_CHAT_ID || 'PLACEHOLDER_CHAT_ID' }}"}, {"name": "text", "value": "\ud83d\udea8 *Maintenance Alert!* \\n\\nCleaner reported an issue:\\n{{ $json.text }}"}, {"name": "parse_mode", "value": "Markdown"}]}, "options": {}}, "id": "alert-nick", "name": "Alert Nick (Issue)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1480, 400]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $env.NICK_TRACKER_SHEET_ID || '16kftTiwJs6VmNVrdGag4L9vh7JAfCKMKeRbphlQGPnU' }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Job Log", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"from": "={{ $json.from }}", "message": "={{ $json.text }}", "type": "={{ $json.messageType }}", "status": "issue_reported", "received_at": "={{ $json.receivedAt }}"}}, "options": {}}, "id": "log-issue", "name": "Log Maintenance Issue", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [1480, 500], "onError": "continueRegularOutput", "disabled": true}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "authentication": "none", "sendBody": true, "contentType": "json", "bodyParameters": {"parameters": [{"name": "chat_id", "value": "={{ $env.NICK_TELEGRAM_CHAT_ID || 'PLACEHOLDER_CHAT_ID' }}"}, {"name": "text", "value": "\u2753 *Question from Cleaner*\\n\\n{{ $json.text }}\\n\\n_Replying here will send to the cleaner._"}, {"name": "parse_mode", "value": "Markdown"}]}, "options": {}}, "id": "forward-question", "name": "Forward Question to Nick", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1480, 600]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $env.NICK_TRACKER_SHEET_ID || '16kftTiwJs6VmNVrdGag4L9vh7JAfCKMKeRbphlQGPnU' }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Job Log", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"from": "={{ $json.from }}", "message": "={{ $json.text }}", "type": "={{ $json.messageType }}", "status": "question", "received_at": "={{ $json.receivedAt }}"}}, "options": {}}, "id": "log-question", "name": "Log Question", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [1480, 700], "onError": "continueRegularOutput", "disabled": true}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "authentication": "none", "sendBody": true, "contentType": "json", "bodyParameters": {"parameters": [{"name": "chat_id", "value": "={{ $json.chat_id }}"}, {"name": "text", "value": "Thanks for the update! Got it logged. \u2705"}]}, "options": {}}, "id": "acknowledge-general", "name": "Acknowledge General", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1480, 900]}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "authentication": "none", "sendBody": true, "contentType": "json", "bodyParameters": {"parameters": [{"name": "chat_id", "value": "={{ $json.chat_id }}"}, {"name": "text", "value": "Great! Job marked as complete. \u2705 Nick will be notified. Thanks!"}]}, "options": {}}, "id": "acknowledge-complete", "name": "Acknowledge Complete", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1480, 100]}], "connections": {"Poll Telegram Every Minute": {"main": [[{"node": "Get Telegram Updates", "type": "main", "index": 0}]]}, "Get Telegram Updates": {"main": [[{"node": "Process & Filter Updates", "type": "main", "index": 0}]]}, "Process & Filter Updates": {"main": [[{"node": "Acknowledge Updates", "type": "main", "index": 0}]]}, "Acknowledge Updates": {"main": [[{"node": "Unpack Messages", "type": "main", "index": 0}]]}, "Route by Type": {"main": [[{"node": "Log Job Complete", "type": "main", "index": 0}, {"node": "Acknowledge Complete", "type": "main", "index": 0}], [{"node": "Alert Nick (Issue)", "type": "main", "index": 0}, {"node": "Log Maintenance Issue", "type": "main", "index": 0}], [{"node": "Forward Question to Nick", "type": "main", "index": 0}, {"node": "Log Question", "type": "main", "index": 0}], [{"node": "Acknowledge General", "type": "main", "index": 0}]]}, "Unpack Messages": {"main": [[{"node": "Route by Type", "type": "main", "index": 0}]]}}, "authors": "Joe B", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-03-05T03:00:09.524Z", "id": 70, "workflowId": "vFIvxqFZKZFGOUO7", "versionId": "18bb9c84-0020-41d6-8bd8-4f0339181954", "event": "activated", "userId": "b75796b6-dc2a-4a97-a727-2f1400120b80"}]}}]