workflow-dispatch-live.json
[{"updatedAt": "2026-03-05T02:15:17.000Z", "createdAt": "2026-03-05T00:58:32.000Z", "id": "eJIAwYSzGEzIW51S", "name": "Airbnb Cleaner Dispatch \u2014 Nick Mora", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"httpMethod": "POST", "path": "nick-cleaner-dispatch", "options": {}, "responseMode": "onReceived", "responseCode": 200}, "id": "dispatch-trigger", "name": "Dispatch Trigger (Webhook)", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [220, 300], "webhookId": "dispatch-webhook-20441"}, {"parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 1, "triggerAtHour": 8}]}}, "id": "morning-check", "name": "Morning Dispatch Check (8 AM)", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [220, 500]}, {"parameters": {"jsCode": "// Morning check: build a generic payload to check for today's cleanings\n// Since this trigger has no webhook data, we create a default payload\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    uid: 'morning-check-' + today,\n    checkoutDate: today,\n    checkinDate: '',\n    nights: 0,\n    summary: 'Morning cleaning check',\n    location: $env.NICK_DEFAULT_PROPERTY_ADDRESS || 'YOUR_PROPERTY_ADDRESS, Los Angeles, CA 90068',\n    isToday: true,\n    isTomorrow: false,\n    readyForDispatch: true,\n    isMorningCheck: true\n  }\n}];"}, "id": "morning-payload", "name": "Morning Check Payload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [420, 500]}, {"parameters": {"jsCode": "// Build the cleaning dispatch message using AI-style personalization\nconst booking = $input.first().json;\n\nconst propertyAddress = booking.location || $env.NICK_DEFAULT_PROPERTY_ADDRESS || 'YOUR_PROPERTY_ADDRESS, Los Angeles, CA 90068';\nconst cleanerName = $env.NICK_CLEANER_NAME || 'Cleaner';\nconst hostName = 'Nick';\nconst checkoutDate = booking.checkoutDate || 'today';\nconst nights = booking.nights || 'a few';\nconst specialInstructions = $env.NICK_CLEANING_INSTRUCTIONS || '';\n\nlet urgency = '';\nif (booking.isToday) {\n  urgency = 'TODAY';\n} else if (booking.isTomorrow) {\n  urgency = 'TOMORROW';\n}\n\nlet message = `Hi ${cleanerName}! \ud83e\uddf9 Cleaning needed ${urgency ? urgency : 'on ' + checkoutDate} at:\\n\\n`;\nmessage += `${propertyAddress}\\n\\n`;\n\nif (booking.isMorningCheck) {\n  message += `This is your morning reminder \u2014 please check in when you're heading over.`;\n} else {\n  message += `Guest stayed ${nights} night${nights !== 1 ? 's' : ''}. `;\n}\n\nif (specialInstructions) {\n  message += `\\nSpecial notes: ${specialInstructions}\\n`;\n}\n\nmessage += `\\nPlease reply DONE when finished, or let me know if there are any issues. Thanks!`;\n\nreturn [{\n  json: {\n    chat_id: $env.NICK_CLEANER_TELEGRAM_CHAT_ID || 'PLACEHOLDER_CHAT_ID',\n    text: message,\n    bookingUid: booking.uid || 'manual',\n    checkoutDate: checkoutDate,\n    dispatchedAt: new Date().toISOString()\n  }\n}];"}, "id": "compose-message", "name": "AI Compose Cleaning Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [620, 300]}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "authentication": "none", "sendBody": true, "contentType": "json", "bodyParameters": {"parameters": [{"name": "chat_id", "value": "={{ $json.chat_id }}"}, {"name": "text", "value": "={{ $json.text }}"}, {"name": "parse_mode", "value": "Markdown"}]}, "options": {}}, "id": "send-telegram", "name": "Send via Telegram Bot", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [860, 300]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $env.NICK_TRACKER_SHEET_ID || '16kftTiwJs6VmNVrdGag4L9vh7JAfCKMKeRbphlQGPnU' }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Dispatch Log", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"booking_uid": "={{ $json.bookingUid }}", "checkout_date": "={{ $json.checkoutDate }}", "message_sent": "={{ $json.text }}", "sent_to": "={{ $json.chat_id }}", "dispatched_at": "={{ $json.dispatchedAt }}", "telegram_message_id": "={{ $json.message_id || 'pending' }}", "status": "dispatched"}}, "options": {}}, "id": "log-dispatch", "name": "Log Dispatch to Sheets", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [1100, 300]}], "connections": {"Dispatch Trigger (Webhook)": {"main": [[{"node": "AI Compose Cleaning Message", "type": "main", "index": 0}]]}, "Morning Dispatch Check (8 AM)": {"main": [[{"node": "Morning Check Payload", "type": "main", "index": 0}]]}, "Morning Check Payload": {"main": [[{"node": "AI Compose Cleaning Message", "type": "main", "index": 0}]]}, "AI Compose Cleaning Message": {"main": [[{"node": "Send via Telegram Bot", "type": "main", "index": 0}]]}, "Send via Telegram Bot": {"main": [[{"node": "Log Dispatch to Sheets", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}, "staticData": {"node:Morning Dispatch Check (8 AM)": {"recurrenceRules": []}}, "meta": null, "pinData": null, "versionId": "2910afee-c075-4a35-8114-b52508148332", "activeVersionId": "2910afee-c075-4a35-8114-b52508148332", "versionCounter": 15, "triggerCount": 2, "shared": [{"updatedAt": "2026-03-04T22:40:23.270Z", "createdAt": "2026-03-04T22:40:23.270Z", "role": "workflow:owner", "workflowId": "eJIAwYSzGEzIW51S", "projectId": "pfSNu0dof2sQh41W", "project": {"updatedAt": "2026-02-18T00:17:55.985Z", "createdAt": "2026-02-18T00:15:34.650Z", "id": "pfSNu0dof2sQh41W", "name": "Joe B <committer@example.com>", "type": "personal", "icon": null, "description": null, "creatorId": "b75796b6-dc2a-4a97-a727-2f1400120b80"}}], "tags": [], "activeVersion": {"updatedAt": "2026-03-05T02:15:00.188Z", "createdAt": "2026-03-05T02:15:00.188Z", "versionId": "2910afee-c075-4a35-8114-b52508148332", "workflowId": "eJIAwYSzGEzIW51S", "nodes": [{"parameters": {"httpMethod": "POST", "path": "nick-cleaner-dispatch", "options": {}, "responseMode": "onReceived", "responseCode": 200}, "id": "dispatch-trigger", "name": "Dispatch Trigger (Webhook)", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [220, 300], "webhookId": "dispatch-webhook-20441"}, {"parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 1, "triggerAtHour": 8}]}}, "id": "morning-check", "name": "Morning Dispatch Check (8 AM)", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [220, 500]}, {"parameters": {"jsCode": "// Morning check: build a generic payload to check for today's cleanings\n// Since this trigger has no webhook data, we create a default payload\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    uid: 'morning-check-' + today,\n    checkoutDate: today,\n    checkinDate: '',\n    nights: 0,\n    summary: 'Morning cleaning check',\n    location: $env.NICK_DEFAULT_PROPERTY_ADDRESS || 'YOUR_PROPERTY_ADDRESS, Los Angeles, CA 90068',\n    isToday: true,\n    isTomorrow: false,\n    readyForDispatch: true,\n    isMorningCheck: true\n  }\n}];"}, "id": "morning-payload", "name": "Morning Check Payload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [420, 500]}, {"parameters": {"jsCode": "// Build the cleaning dispatch message using AI-style personalization\nconst booking = $input.first().json;\n\nconst propertyAddress = booking.location || $env.NICK_DEFAULT_PROPERTY_ADDRESS || 'YOUR_PROPERTY_ADDRESS, Los Angeles, CA 90068';\nconst cleanerName = $env.NICK_CLEANER_NAME || 'Cleaner';\nconst hostName = 'Nick';\nconst checkoutDate = booking.checkoutDate || 'today';\nconst nights = booking.nights || 'a few';\nconst specialInstructions = $env.NICK_CLEANING_INSTRUCTIONS || '';\n\nlet urgency = '';\nif (booking.isToday) {\n  urgency = 'TODAY';\n} else if (booking.isTomorrow) {\n  urgency = 'TOMORROW';\n}\n\nlet message = `Hi ${cleanerName}! \ud83e\uddf9 Cleaning needed ${urgency ? urgency : 'on ' + checkoutDate} at:\\n\\n`;\nmessage += `${propertyAddress}\\n\\n`;\n\nif (booking.isMorningCheck) {\n  message += `This is your morning reminder \u2014 please check in when you're heading over.`;\n} else {\n  message += `Guest stayed ${nights} night${nights !== 1 ? 's' : ''}. `;\n}\n\nif (specialInstructions) {\n  message += `\\nSpecial notes: ${specialInstructions}\\n`;\n}\n\nmessage += `\\nPlease reply DONE when finished, or let me know if there are any issues. Thanks!`;\n\nreturn [{\n  json: {\n    chat_id: $env.NICK_CLEANER_TELEGRAM_CHAT_ID || 'PLACEHOLDER_CHAT_ID',\n    text: message,\n    bookingUid: booking.uid || 'manual',\n    checkoutDate: checkoutDate,\n    dispatchedAt: new Date().toISOString()\n  }\n}];"}, "id": "compose-message", "name": "AI Compose Cleaning Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [620, 300]}, {"parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "authentication": "none", "sendBody": true, "contentType": "json", "bodyParameters": {"parameters": [{"name": "chat_id", "value": "={{ $json.chat_id }}"}, {"name": "text", "value": "={{ $json.text }}"}, {"name": "parse_mode", "value": "Markdown"}]}, "options": {}}, "id": "send-telegram", "name": "Send via Telegram Bot", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [860, 300]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $env.NICK_TRACKER_SHEET_ID || '16kftTiwJs6VmNVrdGag4L9vh7JAfCKMKeRbphlQGPnU' }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Dispatch Log", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"booking_uid": "={{ $json.bookingUid }}", "checkout_date": "={{ $json.checkoutDate }}", "message_sent": "={{ $json.text }}", "sent_to": "={{ $json.chat_id }}", "dispatched_at": "={{ $json.dispatchedAt }}", "telegram_message_id": "={{ $json.message_id || 'pending' }}", "status": "dispatched"}}, "options": {}}, "id": "log-dispatch", "name": "Log Dispatch to Sheets", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [1100, 300]}], "connections": {"Dispatch Trigger (Webhook)": {"main": [[{"node": "AI Compose Cleaning Message", "type": "main", "index": 0}]]}, "Morning Dispatch Check (8 AM)": {"main": [[{"node": "Morning Check Payload", "type": "main", "index": 0}]]}, "Morning Check Payload": {"main": [[{"node": "AI Compose Cleaning Message", "type": "main", "index": 0}]]}, "AI Compose Cleaning Message": {"main": [[{"node": "Send via Telegram Bot", "type": "main", "index": 0}]]}, "Send via Telegram Bot": {"main": [[{"node": "Log Dispatch to Sheets", "type": "main", "index": 0}]]}}, "authors": "import", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": []}}]