workflow-monitor-live.json
[{"updatedAt":"2026-03-04T22:40:19.765Z","createdAt":"2026-03-04T22:40:19.765Z","id":"NLVOii3Hl4hTz8qc","name":"Airbnb Booking Monitor — Nick Mora","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"schedule-trigger","name":"Check Every 30 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[220,300]},{"parameters":{"url":"={{ $env.AIRBNB_ICAL_URL_NICK || 'https://www.airbnb.com/calendar/ical/PLACEHOLDER.ics' }}","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"fetch-ical","name":"Fetch Airbnb Calendar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,300]},{"parameters":{"jsCode":"// Parse iCal feed and extract checkout events\nconst icalData = $input.first().json.data || $input.first().json.body || '';\nconst events = [];\nconst now = new Date();\nconst twoDaysFromNow = new Date(now.getTime() + 2 * 24 * 60 * 60 * 1000);\n\n// Simple iCal parser\nconst eventBlocks = icalData.split('BEGIN:VEVENT');\n\nfor (let i = 1; i < eventBlocks.length; i++) {\n  const block = eventBlocks[i];\n  const getField = (name) => {\n    const match = block.match(new RegExp(`${name}[^:]*:(.+)`));\n    return match ? match[1].trim() : '';\n  };\n\n  const dtend = getField('DTEND');\n  const dtstart = getField('DTSTART');\n  const summary = getField('SUMMARY');\n  const uid = getField('UID');\n  const description = getField('DESCRIPTION');\n  const location = getField('LOCATION');\n\n  // Parse date (handle both DATE and DATETIME formats)\n  const parseDate = (d) => {\n    if (!d) return null;\n    // Format: YYYYMMDD or YYYYMMDDTHHmmssZ\n    const clean = d.replace(/[^0-9T]/g, '');\n    if (clean.length === 8) {\n      return new Date(`${clean.slice(0,4)}-${clean.slice(4,6)}-${clean.slice(6,8)}`);\n    } else if (clean.includes('T')) {\n      const datePart = clean.split('T')[0];\n      return new Date(`${datePart.slice(0,4)}-${datePart.slice(4,6)}-${datePart.slice(6,8)}`);\n    }\n    return null;\n  };\n\n  const checkoutDate = parseDate(dtend);\n  const checkinDate = parseDate(dtstart);\n\n  if (checkoutDate && checkoutDate >= now && checkoutDate <= twoDaysFromNow) {\n    // Calculate nights stayed\n    let nights = 0;\n    if (checkinDate && checkoutDate) {\n      nights = Math.round((checkoutDate - checkinDate) / (1000 * 60 * 60 * 24));\n    }\n\n    events.push({\n      uid: uid,\n      summary: summary || 'Airbnb Booking',\n      checkoutDate: checkoutDate.toISOString().split('T')[0],\n      checkinDate: checkinDate ? checkinDate.toISOString().split('T')[0] : '',\n      nights: nights,\n      description: description,\n      location: location,\n      rawDtend: dtend,\n      rawDtstart: dtstart,\n      isToday: checkoutDate.toDateString() === now.toDateString(),\n      isTomorrow: checkoutDate.toDateString() === new Date(now.getTime() + 24*60*60*1000).toDateString()\n    });\n  }\n}\n\nif (events.length === 0) {\n  return [{ json: { noCheckouts: true, message: 'No upcoming checkouts in the next 48 hours' } }];\n}\n\nreturn events.map(e => ({ json: e }));"},"id":"parse-ical","name":"Parse iCal & Find Checkouts","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"checkout-filter","leftValue":"={{ $json.noCheckouts }}","rightValue":true,"operator":{"type":"boolean","operation":"notTrue"}}],"combinator":"and"}},"id":"filter-checkouts","name":"Has Checkouts?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[880,300]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $env.NICK_TRACKER_SHEET_ID || '' }}","mode":"id"},"sheetName":{"__rl":true,"value":"Bookings","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"uid":"={{ $json.uid }}","summary":"={{ $json.summary }}","checkout_date":"={{ $json.checkoutDate }}","checkin_date":"={{ $json.checkinDate }}","nights":"={{ $json.nights }}","location":"={{ $json.location }}","is_today":"={{ $json.isToday }}","dispatched":"false","status":"pending","logged_at":"={{ new Date().toISOString() }}"}},"options":{}},"id":"log-to-sheets","name":"Log to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1100,200]},{"parameters":{"jsCode":"// Prepare dispatch payload for Workflow 2\nconst item = $input.first().json;\n\nreturn [{\n  json: {\n    uid: item.uid,\n    checkoutDate: item.checkoutDate,\n    checkinDate: item.checkinDate,\n    nights: item.nights,\n    summary: item.summary,\n    location: item.location || $env.NICK_DEFAULT_PROPERTY_ADDRESS || 'Address TBD',\n    isToday: item.isToday,\n    isTomorrow: item.isTomorrow,\n    readyForDispatch: item.isToday || item.isTomorrow\n  }\n}];"},"id":"prep-dispatch","name":"Prepare for Dispatch","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,400]}],"connections":{"Check Every 30 Minutes":{"main":[[{"node":"Fetch Airbnb Calendar","type":"main","index":0}]]},"Fetch Airbnb Calendar":{"main":[[{"node":"Parse iCal & Find Checkouts","type":"main","index":0}]]},"Parse iCal & Find Checkouts":{"main":[[{"node":"Has Checkouts?","type":"main","index":0}]]},"Has Checkouts?":{"main":[[{"node":"Log to Google Sheets","type":"main","index":0},{"node":"Prepare for Dispatch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"4a335620-be0b-4cad-a2ea-70f9d0b3b6bd","activeVersionId":null,"versionCounter":3,"triggerCount":1,"tags":[{"updatedAt":"2026-03-04T22:40:19.779Z","createdAt":"2026-03-04T22:40:19.779Z","id":"IA8LrQk3drJQZD1C","name":"nick-mora"}],"shared":[{"updatedAt":"2026-03-04T22:40:19.772Z","createdAt":"2026-03-04T22:40:19.772Z","role":"workflow:owner","workflowId":"NLVOii3Hl4hTz8qc","projectId":"pfSNu0dof2sQh41W","project":{"updatedAt":"2026-02-18T00:17:55.985Z","createdAt":"2026-02-18T00:15:34.650Z","id":"pfSNu0dof2sQh41W","name":"Joe B <committer@example.com>","type":"personal","icon":null,"description":null,"creatorId":"b75796b6-dc2a-4a97-a727-2f1400120b80"}}]}]