workflow-inbound-handler-telegram.json
{
  "name": "Airbnb Inbound Message Handler — Nick Mora",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nick-telegram-webhook",
        "options": {
          "rawBody": true
        }
      },
      "id": "telegram-webhook",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "nick-telegram-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming Telegram webhook update\nconst body = $input.first().json;\n\n// Telegram sends a callback_query (button click) or message\nconst update = body;\n\nlet from = '';\nlet chatId = '';\nlet text = '';\nlet updateId = '';\n\nif (update.callback_query) {\n  // Callback query from inline button\n  from = update.callback_query.from.id.toString();\n  chatId = update.callback_query.message.chat.id.toString();\n  text = update.callback_query.data || '';\n  updateId = update.callback_query.id;\n} else if (update.message) {\n  // Regular message\n  from = update.message.from.id.toString();\n  chatId = update.message.chat.id.toString();\n  text = update.message.text || '';\n  updateId = update.message.update_id.toString();\n}\n\n// Classify the message\nconst lowerText = text.toLowerCase().trim();\nlet messageType = 'unknown';\nlet priority = 'normal';\n\n// Job completion keywords\nconst doneKeywords = ['done', 'finished', 'complete', 'completed', 'all done', 'cleaned', 'all good', 'all set', '✅', 'done!'];\nconst issueKeywords = ['broken', 'damage', 'damaged', 'fix', 'repair', 'issue', 'problem', 'stain', 'missing', 'leak', 'mold', 'crack', 'hole', '🚨'];\nconst questionKeywords = ['?', 'where', 'when', 'what', 'how', 'which', 'can i', 'should i', 'do i', 'help'];\n\nif (doneKeywords.some(kw => lowerText.includes(kw))) {\n  messageType = 'job_complete';\n} else if (issueKeywords.some(kw => lowerText.includes(kw))) {\n  messageType = 'maintenance_issue';\n  priority = 'high';\n} else if (questionKeywords.some(kw => lowerText.includes(kw))) {\n  messageType = 'question';\n} else {\n  messageType = 'general';\n}\n\nreturn [{\n  json: {\n    from: from,\n    chat_id: chatId,\n    text: text,\n    messageType: messageType,\n    priority: priority,\n    updateId: updateId,\n    receivedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-classify",
      "name": "Parse & Classify Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputIndex": 0,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "job_complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputName": "Job Complete"
            },
            {
              "outputIndex": 1,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "maintenance_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputName": "Maintenance Issue"
            },
            {
              "outputIndex": 2,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "question",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputName": "Question"
            }
          ],
          "fallbackOutput": {
            "active": true
          }
        }
      },
      "id": "route-message",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.NICK_TRACKER_SHEET_ID || '16kftTiwJs6VmNVrdGag4L9vh7JAfCKMKeRbphlQGPnU' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Job Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "from": "={{ $json.from }}",
            "message": "={{ $json.text }}",
            "type": "={{ $json.messageType }}",
            "status": "completed",
            "received_at": "={{ $json.receivedAt }}"
          }
        },
        "options": {}
      },
      "id": "log-complete",
      "name": "Log Job Complete",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [940, 200]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "authentication": "none",
        
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.NICK_TELEGRAM_CHAT_ID || 'PLACEHOLDER_CHAT_ID' }}"
            },
            {
              "name": "text",
              "value": "🚨 *Maintenance Alert!* \\n\\nCleaner reported an issue:\\n{{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "alert-nick",
      "name": "Alert Nick (Issue)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.NICK_TRACKER_SHEET_ID || '16kftTiwJs6VmNVrdGag4L9vh7JAfCKMKeRbphlQGPnU' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Job Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "from": "={{ $json.from }}",
            "message": "={{ $json.text }}",
            "type": "={{ $json.messageType }}",
            "status": "issue_reported",
            "received_at": "={{ $json.receivedAt }}"
          }
        },
        "options": {}
      },
      "id": "log-issue",
      "name": "Log Maintenance Issue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [940, 500]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "authentication": "none",
        
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.NICK_TELEGRAM_CHAT_ID || 'PLACEHOLDER_CHAT_ID' }}"
            },
            {
              "name": "text",
              "value": "❓ *Question from Cleaner*\\n\\n{{ $json.text }}\\n\\n_Replying here will send to the cleaner._"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "forward-question",
      "name": "Forward Question to Nick",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 600]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.NICK_TRACKER_SHEET_ID || '16kftTiwJs6VmNVrdGag4L9vh7JAfCKMKeRbphlQGPnU' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Job Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "from": "={{ $json.from }}",
            "message": "={{ $json.text }}",
            "type": "={{ $json.messageType }}",
            "status": "question",
            "received_at": "={{ $json.receivedAt }}"
          }
        },
        "options": {}
      },
      "id": "log-question",
      "name": "Log Question",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [940, 700]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "authentication": "none",
        
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "Thanks for the update! Got it logged. ✅"
            }
          ]
        },
        "options": {}
      },
      "id": "acknowledge-general",
      "name": "Acknowledge General",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 900]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "authentication": "none",
        
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "Great! Job marked as complete. ✅ Nick will be notified. Thanks!"
            }
          ]
        },
        "options": {}
      },
      "id": "acknowledge-complete",
      "name": "Acknowledge Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 100]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Parse & Classify Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Classify Message": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Log Job Complete",
            "type": "main",
            "index": 0
          },
          {
            "node": "Acknowledge Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Nick (Issue)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Maintenance Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward Question to Nick",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-04T20:00:00.000Z",
  "versionId": "1"
}
